<!DOCTYPE html>
<!--
 Licensed to the Apache Software Foundation (ASF) under one
 or more contributor license agreements.  See the NOTICE file
 distributed with this work for additional information
 regarding copyright ownership.  The ASF licenses this file
 to you under the Apache License, Version 2.0 (the
 "License"); you may not use this file except in compliance
 with the License.  You may obtain a copy of the License at
 
 http://www.apache.org/licenses/LICENSE-2.0
 
 Unless required by applicable law or agreed to in writing,
 software distributed under the License is distributed on an
 "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 KIND, either express or implied.  See the License for the
 specific language governing permissions and limitations
 under the License.
-->
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="format-detection" content="telephone=no" />
        <!-- WARNING: for iOS 7, remove the width=device-width and height=device-height attributes. See https://issues.apache.org/jira/browse/CB-4323 -->
        <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width, height=device-height, target-densitydpi=device-dpi" />
        <link rel="stylesheet" type="text/css" href="css/connect.css" />
        <link rel="stylesheet" href="css/jquery.mobile-1.4.4.min.css" />
        <meta name="msapplication-tap-highlight" content="no" />
        <title>softWrenchConnect</title>
        
        <script type="text/javascript" src="js/jquery-1.11.1.min.js" />
        <script type="text/javascript" src="js/jquery.mobile-1.4.4.min.js" />
        <script type="text/javascript" charset="utf-8" src="cordova.js" ></script>
        <script type="text/javascript" src="js/index.js" ></script>
        
    </head>
    <body>
        <div class="back">
            <button id="backButton" style="display:none;" onclick="goBack()" value="disable" disabled>Home</button>
        </div>
        <iframe id="iframe_id" frameborder="0"scrolling="auto" src="index.html" width="100%" height="800px"></iframe>
        <script>
            /* var repeater;
             function doWork() {
             repeater = setTimeout(doWork, 1000);
             }
             doWork();*/
        function goBack() {
            window.location.href = "connect.html";
        }
        </script>
    </body>
</html>

 <!--!DOCTYPE html>
 <html>
 <head lang="en">
 <meta charset="UTF-8">
 <title>softWrench Mobile</title>
 <link rel='stylesheet' href='css/bootstrap.min.css' type='text/css' media='all' />
 <link rel='stylesheet' href='css/style.css' type='text/css' media='all' />
 <script type='text/javascript' src='js/angular.min.js'></script>
 <script type='text/javascript' src='js/app-controller.js'></script>
 <script type='text/javascript' src='js/app-logging.js'></script>
 </head>
 <body ng-app="swMobile" ng-controller="SigninController">
 <div class="container">
 <div class="signin clearfix">
 <div class="logo"></div>
 <div class="app">
 <form name="signinForm" ng-submit="signin()" novalidate>
 <!--<p>Where do you want to connect to:</p>-->
<!--<input id="url" type="url" name="swurl">>
<div class="form-group">
    <label class="control-label">Server</label>
    <input class="form-control" ng-model="server" name="server" type="url" required>
        </div>
<div ng-show="signinForm.server.$error.required && !signinForm.server.$pristine"
    class="alert alert-danger">
    Error: Server is required.
</div>
<div class="form-group">
    <label class="control-label">Username</label>
    <input class="form-control" ng-model="username" name="username" type="text" required>
        </div>
<div ng-show="signinForm.username.$error.required && !signinForm.username.$pristine"
    class="alert alert-danger">
    Error: Username is required.
</div>
<div class="form-group">
    <label class="control-label">Password</label>
    <input class="form-control" ng-model="password" name="password" type="password" required>
        </div>
<div ng-show="signinForm.password.$error.required && !signinForm.password.$pristine"
    class="alert alert-danger">
    Error: Password is required.
</div>

<!--TODO: add ng-disabled="signinForm.server.$invalid || signinForm.username.$invalid || signinForm.password.$invalid">
<button class="btn" type="submit">Login</button>
<div class="test">JSON: {{json}}</div>
</form>
</div>
</div>
</div>
</body>
</html>-->
